version: "3.9"

services:
  ena-map-server-front:
    container_name: EnaMapServerFront
    build:
      context: ./ena-map-server-front
      dockerfile: Dockerfile
    ports:
      - "3005:3005"
    environment:
      REACT_APP_STAGE: production
      PORT: 3005
    networks:
     - mapserver
    restart: always

  ena-map-server-back:
    container_name: EnaMapServerBack
    build:
      context: ./ena-map-server-back
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    environment:
      REACT_APP_STAGE: production
      DATABASE_URL: "mysql://admin:cbr90001@172.22.0.1:3306/servidor_mapas"
      JWT_SECRET: "abcd1234-ab12-ba12-1212-123456789abc"
      PORT: 8888
    networks:
      mapserver:
        ipv4_address: 172.22.0.20  # IP fixo
    restart: always
networks:
  mapserver:   # Network renomeada
    driver: bridge
    ipam:
      config:
        - subnet: 172.22.0.0/24
          gateway: 172.22.0.1